# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.pnp.*
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Build output
dist/
build/
out/
release/
output/
coverage/
.nyc_output
.nyc_output/
lib-cov/
build/Release
.cache/
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.next
.nuxt
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.web_modules/
web_modules/
jspm_packages/
bower_components/
test/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
*.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Electron
*.asar

# Environment files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
*.sublime-workspace
*.sublime-project

# Miscellaneous
.eslintcache
.stylelintcache
.node_repl_history
.lock-wscript
*.tgz
new-backend-implementation-guide.md
temp/